@page
@model Gaokao.Pages.Info.IndexModel
@{
    ViewData["Title"] = "有用的信息";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>有用的信息</h1>
<p>
    <span>
        下面是一些有用的信息, 如果您还有补充, 可以通过Github提交PR, 或者通过邮件告知我们.
    </span>
</p>

<a asp-page="/Info/Score-Rank/Index">一份一档表</a>

