@page
@model IndexModel
@{
    ViewData["Title"] = "环己来-高考";
}

<div class="text-center">
    <h1 class="display-4">环己来高考志愿填报辅助</h1>
</div>
<div id='write' class='is-node'>
    <p><span>嗨, 大家好</span></p>
    <p><span>我是老蒋, 环己来的创始人. </span></p>
    <p><span>一年一度的高考结束了, 但比高考更重要的是填志愿, 正如在许多时候, 比努力更重要的是选择. </span></p>
    <p>
        <span>历年来, 考生们饱受各种奇奇怪怪的志愿填报网站的困扰, 里面的数据参差不齐, 提供的建议也摸棱两可, 而且许多网站趁机敲诈勒索, 让许多考生们浪费了不少金钱的同时, 还花费了很多心力. </span>
    </p>
    <p><span>我本人, 也一度饱受这种无良机构的困扰. </span></p>
    <p>
        <span>如今, 我手里有了一点点并不成熟的技术, 所以打算写一个这样的系统给大家, 它非常粗糙, 也有很多Bug, 但</span><strong>
            <span>
                它除了接受完全自愿的打赏外,
                完全免费
            </span>
        </strong><span>. </span>
    </p>
    <p>
        <strong><span>由于这个系统开发时间非常短, 仅有不到一个星期, 很多东西都没能做到精雕细琢, 也一定还有很多Bug. </span></strong>
        <span>
            这个系统也会尽可能通过热更新的方式进行更新, 很可能您下次登录看到的情况就会与这次有所不同.
        </span>
        <strong><span>您如果发现了什么Bug, 欢迎通过Github Issue或者邮件告知我们. </span></strong>
    </p>
    <p>
        <span>
            如果您觉得好用, 请推荐给周围需要的人, 如果您愿意, 也可以通过扫描打赏链接请所有开发者喝杯咖啡. 如果您遇到了什么问题, 也可以通过下方的联系方式联系到我.
            此外, 如果您过去、现在或未来"不幸"进入了计算机相关专业, 掌握了ASP.Net Core相关技术, 或者基于某种原因, 您学习了有关收集和处理数据的方法, <strong>欢迎前往我们的Github仓库, 为这个项目贡献代码和数据. 这将是对开源项目最大的贡献之一.</strong> 
            本项目所有开发者, 向所有支持我们, 支持这个项目的人, 致以衷心的感谢.
        </span>
    </p>
    <p>
        <span>
            这个系统完全由我自己用课余时间手动开发, 每一行代码都是我一个一个码出来的. 同时, 租用服务器和数据库, 以及给大家注册和重置密码的邮件发送服务, 都是一笔不小的费用. 所以, 我真的非常渴望大家的支持.
        </span>
    </p>
    <p><span>希望这个自己业余时间折腾的这个系统能帮得上你. </span></p>
    <p>
        <img src="https://data-vankyle-1257862518.cos.ap-shanghai.myqcloud.com/mirrors/images/CharlieJ107.github.io/alipay.png" height="300" width="300" />
    </p>
</div>
